
# Gunicornアプリケーションサーバー
gunicorn
#   WSGI HTTPサーバー。Djangoアプリケーションの本番環境での実行に使用される。

Django==3.2.22
#   Django本体。WebアプリケーションやAPIの構築に必要なフレームワークで、LTSバージョンにより安定性とセキュリティが確保されている。

djangorestframework==3.14.0
#   Django REST Framework (DRF)。Django用のREST API構築フレームワークで、API開発に必要なツールや機能を提供。

djangorestframework-simplejwt==5.2.2
#   JWT（JSON Web Token）を使用した認証システムを提供。アクセストークンとリフレッシュトークンを使った認証管理が可能。

PyJWT==2.6.0
#   JWTを生成・解析するためのライブラリで、DRF SimpleJWTパッケージに依存している。トークンの署名や検証が可能。

django-otp==1.1.3
#   One-Time Password（OTP）を用いた認証を提供し、ワンタイムパスワードで二要素認証（2FA）を実装するために使用。

django-two-factor-auth==1.14.0
#   django-otpと連携して二要素認証（MFA）を提供する。SMS、メール、アプリなど複数のOTP送信方法に対応。

django-environ==0.10.0
#   環境変数を使った設定管理を行い、データベースの接続情報やシークレットキーなどの機密情報をコード外で管理できる。

django-cors-headers==3.13.0
#   CORS（クロスオリジンリソースシェアリング）設定を管理。特定ドメインのみAPIアクセスを許可するなど、外部アクセスの制御が可能。

django-axes==5.7.1
#   ログイン試行回数を制限し、ブルートフォース攻撃対策を実装するためのパッケージ。不正アクセスから保護する。

django-secure==1.0.1
#   HTTPSを強制する設定など、セキュリティ強化のための設定を提供。セッションのセキュリティを高める。

django-ratelimit==4.1.0
#   リクエストの回数制限を設定し、DoS攻撃や不正なアクセスを防止。リクエスト頻度の制御が可能。

drf-yasg==1.21.5
#   自動APIドキュメント生成ツール。SwaggerやReDocに対応し、視覚的で使いやすいAPIドキュメントを自動生成。

# DB
psycopg2-binary==2.9.6
#   PostgreSQLとDjangoを接続するためのドライバ。開発環境で利用可能。本番環境では通常psycopg2が推奨される。

django-rest-authtoken

